node_modules
xcuserdata
project.xcworkspace
.vscode
.DS_Store
.idea
.gradle
local.properties
android/build
Podfile.lock
WebRTC.xcframework
WebRTC.dSYMs
# but DO commit the interim locally-built release framework vendored in-repo
!/third_party/WebRTC.xcframework
!/third_party/WebRTC.xcframework/**
examples/GumTestApp/package-lock.json
examples/GumTestApp_macOS/package-lock.json
**/.xcode.env.local
**/PLAN.md
*.jar
*.tgz
*.zip
lib/
src/*.js
# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
